/************************************************************
GENERAL
*************************************************************/
* {
  font-family: 'Bree Serif', serif;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: scroll;
}

.content-section {
  margin: 0;
  padding: 0;
}

a {
  color: black;
}

ul {
  list-style: none;
}

.section-heading {
  margin-top: 10%;
}

/************************************************************
NAVIGATION
*************************************************************/
.navbar-custom {
  background-color: #2f3238;
  padding: 5px;
  color: white;
  border: none;
}

.navbar-header .navbar-brand {
  color: white;
}

.navbar-nav > li > a {
  color: white;
}

.navbar-nav a:hover {
  border: 1px solid white;
  color: white !important;
}

/************************************************************
SECTION: HEADER
*************************************************************/
.intro {
    height: 100vh;
    width: 100%;
}

.profile-picture {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}

/************************************************************
SECTION: FOOTER
*************************************************************/
.panel-footer {
  background-color: #2f3238;
  height: 20%;
  width: 100%;
  margin-top: 2%;
  padding: 0;
  color: white;
}

.panel-footer > li > a {
  color: white !important;
}

.panel-footer a:hover, a:focus {
  color: #6f747c;
}

.social-icon {
  height: 20px;
  width: 20px;
}

/************************************************************
EXTA SMALL DEVICES (PORTRAIT PHONES, LESS THAN 576PX)
NO MEDIA QUERY SINCE THIS IS THE DEFAULT IN BOOTSTRAP
*************************************************************/

/************************************************************
SMALL DEVICES (LANDSCAPE PHONES, 576PX AND UP)
*************************************************************/
@media (min-width: 576px) {

}


/************************************************************
MEDIUM DEVICES (TABLETS, 768PX AND UP)
*************************************************************/
@media (min-width: 768px) {

}

/************************************************************
LARGE DEVICES (DESKTOPS, 992PX AND UP)
*************************************************************/
@media (min-width: 992px) {

}

/************************************************************
EXTRA LARGE DEVICES (LARGE DESKTOPS, 1200PX AND UP)
*************************************************************/
@media (min-width: 1200px) {

}
